<!DOCTYPE html>

<html>
    <head>
        <h1> SIGN IN</h1>
    </head>

    <body>
        <form action= '/templates/Inicio.html' method='POST'>
            <label for="correo">Correo:</label><br>
            <input type="email" id="correo" name="correo" value=""><br>

            <label for="contrasenia">Contraseña:</label><br>
            <input type="password" id="contrasenia" name = "contrasenia" value=""><br>

            <input type="submit" value="Log in" name="enviar">
        </form>
    </body>
</html>